<form method = "post" action = "/create">
    <div>
        <label>Title</label>
        <input name="title" type="text" required>
        <label>Page Number</label>
        
    </div>
    <input name="pagenumber" type="number" required>
    <label>Author</label>
    <input name="author" type="text" required>
    <label>Publish Date</label>
    <input name = "publishdate" type = "date" required>
    <label>Description</label>
    <input name = "description" type = "text" required>
    <button>Create</button>
    

</form>
<a href="/">Return</a>